.comments {
  width: 60%;
  margin: 15px 30px;
}
.comment {
  height: 50px;
  padding: 15px 20px;
  border-bottom: $horizon;
}
.comment__info > * {
  opacity: 0.6;
  font-size: 12px;
}
.comment__owner {
  margin: 0 5px;
  font-size: 15px;
}
.comment__text {
  font-size: 18px;
  margin: 10px 0px;
}
.comment__delete {
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-left: 5px;
  color: $rose;
  transition: opacity 0.2s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
.comments--not-login {
  margin: 30px;
}
