header {
  position: sticky;
  z-index: 1;
  top: 0px;
  padding: 20px 50px;
  font-weight: 600;
  background-color: white;
  color: $rose;
  ul {
    display: flex;
    align-items: center;
  }
  nav > ul {
    justify-content: space-between;
  }
}
.header__logo {
  font-size: 18px;
}
.header__menu li {
  margin-left: 35px;
}
