extends ../base
include ../mixins/video

block main 
    form.form--search
        input.form--search__bar(type="text", name="keyword", placeholder="Search", value=keyword)
        button.form--search__button(type="submit") 
            i.fas.fa-search
    div.video-grid 
        each video in videos
            +video(video)
        else 
            p.video-grid__not-found Sorry Not Found