extends ../base
include ../mixins/video

block main 
    form.search__form
        input(type="text", name="keyword", placeholder="Search")
        button(type="submit") 
            i.fas.fa-search
    hr
    div.video-grid
        each video in videos
            +video(video)
        else 
            if !keyExists
                span.empty__message Sorry Not Found