header 
    nav 
        ul 
            li 
                a(href="/") 5seconds
            li 
                a(href="/search") Search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a.header__avatar(href=`/users/${loggedInUser._id}`) 
                        if loggedInUser.avatarUrl
                            if loggedInUser.avatarUrl.startsWith("http")
                                img(src=loggedInUser.avatarUrl, alt="Avatar")
                            else
                                img(src="/"+loggedInUser.avatarUrl, alt="Avatar")
                        else 
                            p 😺
                li 
                    a(href="/logout") Log Out
            else 
                li 
                    a(href="/signup") Sign Up 
                li 
                    a(href="/login") Log In 