header 
    nav 
        ul 
            li 
                a(href="/") Home 
            li 
                a(href="/search") Search
            if loggedIn
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`) My Profile 
                li 
                    a(href="/logout") Log Out
            else 
                li 
                    a(href="/signup") Sign Up 
                li 
                    a(href="/login") Log In 