extends ../base

block main 
    form.form(method="post") 
        if messages.formError 
            div.messages__error--form
                i.fas.fa-exclamation-circle
                span=messages.formError
        label(for="currentPw") Current Password
        input#currentPw(type="password", name="currentPw", required)
        label(for="newPw") New Password
        input#newPw(type="password", name="newPw", required)
        label(for="confirmPw") Confirm
        input#confirmPw(type="password", name="confirmPw", required)
        button.form__button(type="submit") Save
        