extends ../base

block main 
    if messages.formError
        p=messages.formError
    form(method="post") 
        label(for="currentPw") Current Password
        input#currentPw(type="password", name="currentPw", required)
        label(for="newPw") New Password
        input#newPw(type="password", name="newPw", required)
        label(for="confirmPw") Confirm
        input#confirmPw(type="password", name="confirmPw", required)
        button(type="submit") Save
        