extends ../base

block main 
    form(method="post", enctype="multipart/form-data") 
        label(for="avatar") Avatar Image
        input#avatar(type="file", name="avatar", accept="image/*")
        label(for="email") Email
        input#email(type="email", name="email", disabled, value=loggedInUser.email)
        label(for="name") Name
        input#name(type="text", name="name", value=loggedInUser.name, maxlength="30", required)
        label(for="description") Bio
        input#description(type="text", name="description", value=loggedInUser.description, maxLength="200")
        button(type="submit") Save
        if !loggedInUser.socialLogin
            hr
            div 
                a(href="change-password") Change Password &rarr;