extends ../base

block main 
    if messages.formError 
        p=messages.formError
    form(method="post") 
        label(for="email") Email
        input#email(type="email", name="email", required)
        label(for="password") Password
        input#password(type="password", name="password", required)
        button(type="submit") Log In
        hr
        div
            a(href="/login/github/start") Login with GitHub &rarr;
        hr
        div
            p Don’t have an account?
            a(href="/signup") Sign up &rarr;