extends ../base
include ../mixins/video

block main 
    div 
        if owner.avatarUrl
            img(src="/"+owner.avatarUrl, alt="Avatar", style="width:80px; height:80px; border-radious:50%;")
        else 
            p 😺
        h2=owner.name 
    div 
        each video in owner.videos 
            +video(video)
        else
            p No video
            a(href="/videos/upload") Go to upload &rarr;