extends ../base
include ../mixins/video

block main 
    div.profile__data
        if user.avatarUrl
            if user.avatarUrl.startsWith("http")
                img(src=user.avatarUrl, alt="Avatar", style="width:80px; height:80px; border-radious:50%;")
            else
                img(src="/"+user.avatarUrl, alt="Avatar", style="width:80px; height:80px; border-radious:50%;")
        else 
            p 😺
        h2=user.name 
        p=user.description
        if String(loggedInUser._id) === String(user._id)
            a.profile__edit-btn(href=`/users/${user._id}/edit`) Edit Profile
    hr
    div.video-grid 
        each video in user.videos.reverse()
            +video(video)
        else
            div.video-grid__empty
                p No video
                a(href="/videos/upload") Go to upload &rarr;